/* tfpf.css
 * A few customisations for all websites. Import this Mozilla format code in
 * Stylus or Stylish (browser add-ons) for Firefox.
 */

@namespace url(http://www.w3.org/1999/xhtml);

/* Use the system theme colour as the text selection colour. */
::-moz-selection
{
    color: #FFFFFF !important;
    background: #27B4A6 !important;
}
::selection
{
    color: #FFFFFF !important;
    background: #27B4A6 !important;
}

/* Set the typeface for code blocks. */
pre, code, tt,
.ace_editor, .blob-code, .blob-code-inner, .blob-code-marker, .blob-num, .cm-content, .code, .commit-ref,
.input-monospace, .text-mono
{
    font-family: 'Cascadia Code', monospace !important;
}
