#XfceNotifyWindow
{
    background-color: rgba(255, 255, 255, 1);
    color: #202020;
    border: none;
    border-radius: 10px;
}

#XfceNotifyWindow button
{
    color: #FFFFFF;
    border-radius: 4px;
    border-color: #47D4C6 #27B4A6 #079486 #27B4A6;
    background-image: linear-gradient(to bottom, #47D4C6, #079486);
}
#XfceNotifyWindow button:active
{
    color: #FFFFFF;
    border-radius: 4px;
    border-color: #47D4C6 #27B4A6 #079486 #27B4A6;
    background-image: linear-gradient(to bottom, #079486, #47D4C6);
}
#XfceNotifyWindow button:not(:active):hover
{
    color:#FFFFFF;
    border-radius: 4px;
    border-color: #47D4C6 #27B4A6 #079486 #27B4A6;
    background-image: linear-gradient(to bottom, #27B4A6, #27B4A6);
}

#XfceNotifyWindow label#summary
{
    font-weight: bold;
}

#XfceNotifyWindow progressbar
{
    border-radius: 5px;
    min-height: 6px;
}
#XfceNotifyWindow progressbar progress
{
    background-image: linear-gradient(to right, #079486, #27B4A6, #47D4C6);
    border: none;
    box-shadow: none;
    min-height: 6px;
}
#XfceNotifyWindow progressbar trough
{
    background-color: rgba(0, 0, 0, 0.2);
    border: 0px;
    border-radius: 5px;
    min-height: 6px;
    padding: 1px;
}
